<main>
  <header class="header">
    <div class="row">
      <h4 id="header-title-text">LIT RF Knowledge Base</h4>
      <p>LIT RF your personal knowledge base for curating content that matters to you.</p>
    </div>
  </header>

  <app-side-navigation-bar class="side-navigation-bar"></app-side-navigation-bar>
  
  <section class="container dashboard-container">
    <section class="row">   
      <app-dashboard class="twelve columns"></app-dashboard>
    </section>
  </section>

  <app-new-space-capsule-fab></app-new-space-capsule-fab>
</main>