.header{
    background-color: #7EB7A6;
    text-align: center;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.side-navigation-bar{
    position: fixed;
    left: 0;
    margin-top: 6.5%;
    height: 80%;
    width: 10%;
    background-color: #7EABB7;
}

.dashboard{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #7E8FB7;
    text-align: center;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}