.header{
    background-color: #7EB7A6;
    text-align: center;
    padding: 0 10px;
}

.side-navigation-bar{
    position: fixed;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    height: 80%;
    width: 10%;
    background-color: #7EABB7;
}

.footer{
    background-color: #7E8FB7;
    text-align: center;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .side-navigation-bar{
        display: none;
    }
}